<MudContainer Style="align-content: center; height: 100vh;">
	<MudGrid Justify="Justify.Center">
		<MudItem xs="12" sm="8" md="6" lg="4">
			<div class="mud-paper mud-elevation-25 pa-2 rounded-lg d-flex align-center" style="border-radius: 8px 8px 0 0 !important; width:100%;scale: 2">
                <div class="mud-paper mud-elevation-0" style="background-color: var(--mud-palette-background-gray);height:50px;width:100%;">
            </div>
            <svg style="color: var(--mud-palette-dark);" class="mud-icon-root mud-svg-icon mud-icon-size-small my-n2 mr-n1" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="img"><!--!--><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M12 5.83l2.46 2.46c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L12.7 3.7c-.39-.39-1.02-.39-1.41 0L8.12 6.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 5.83zm0 12.34l-2.46-2.46c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41l3.17 3.18c.39.39 1.02.39 1.41 0l3.17-3.17c.39-.39.39-1.02 0-1.41-.39-.39-1.02-.39-1.41 0L12 18.17z"></path></svg></div>
		    
            <div class="mud-paper mud-elevation-25 rounded-lg" style="border-radius: 0 0 8px 8px !important; height:4px;width:100%;;scale: 2;margin-top: 35px;">
                <div class="mud-paper mud-elevation-25 rounded-lg d-flex align-center justify-end relative"  style="background-color: var(--mud-palette-dark);height:100%;width:50%;">
                    <div class="mud-paper mud-elevation-25 pa-2 my-n4 rounded-circle"  style="background-color: var(--mud-palette-dark);">

                    </div>
                </div>
            </div>
        </MudItem>
	</MudGrid>
</MudContainer>