<MudContainer MaxWidth="MaxWidth.Large" Class="py-8">
    <MudGrid>
		<MudItem xs="12">
    		<MudText Typo="Typo.h4" Align="Align.Center" Class="mb-4 font-weight-bold">Our Blog</MudText>
    		<MudText Typo="Typo.body1" Align="Align.Center" Class="mb-8 text-gray-500">We use an agile approach to test assumptions and connect with the needs of your audience early and often.</MudText>
		</MudItem>
		<MudItem xs="12" md="6">
			<MudCard>
				<MudCardContent>
					<MudStack AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Row="true" Class="mb-5 text-gray-500">
						<MudChip T="String" Color="Color.Primary" Size="Size.Small" Variant="Variant.Outlined">
							<MudIcon Icon="@Icons.Material.Outlined.Videocam" Class="mr-1" /> Tutorial
						</MudChip>
						<MudText Typo="Typo.body2">14 days ago</MudText>
					</MudStack>
					<MudText Typo="Typo.h5" Class="mb-2 font-bold">
						<a href="#" class="text-decoration-none">How to quickly deploy a static website</a>
					</MudText>
					<MudText Typo="Typo.body2" Class="mb-5 text-gray-500">Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of tools that even influence both web designers and developers influence both web designers and developers.</MudText>
				</MudCardContent>
				<MudCardActions>
					<MudStack AlignItems="AlignItems.Center" Justify="Justify.SpaceAround" Row="true">
						<MudAvatar Size="Size.Medium" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" />
						<MudText Typo="Typo.body1" Class="font-medium">Jese Leos</MudText>
					</MudStack>
					<MudSpacer />
					<MudButton Href="#" Variant="Variant.Text" Color="Color.Primary" EndIcon="@Icons.Material.Outlined.ArrowForward">Read more</MudButton>
				</MudCardActions>
			</MudCard>
		</MudItem>
		<MudItem xs="12" md="6">
			<MudCard>
				<MudCardContent>
					<MudStack AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Row="true" Class="mb-5 text-gray-500">
						<MudChip T="String" Color="Color.Primary" Size="Size.Small" Variant="Variant.Outlined">
							<MudIcon Icon="@Icons.Material.Outlined.Article" Class="mr-1" /> Article
						</MudChip>
						<MudText Typo="Typo.body2">14 days ago</MudText>
					</MudStack>
					<MudText Typo="Typo.h5" Class="mb-2 font-bold">
						<a href="#" class="text-decoration-none">Our first project with React</a>
					</MudText>
					<MudText Typo="Typo.body2" Class="mb-5 text-gray-500">Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of tools that even influence both web designers and developers influence both web designers and developers.</MudText>
				</MudCardContent>
				<MudCardActions>
					<MudStack AlignItems="AlignItems.Center" Justify="Justify.SpaceAround" Row="true">
						<MudAvatar Size="Size.Medium" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" />
						<MudText Typo="Typo.body1" Class="font-medium">Bonnie Green</MudText>
					</MudStack>
					<MudSpacer />
					<MudButton Href="#" Variant="Variant.Text" Color="Color.Primary" EndIcon="@Icons.Material.Outlined.ArrowForward">Read more</MudButton>
				</MudCardActions>
			</MudCard>
		</MudItem>
    </MudGrid>
</MudContainer>
